!Build/
.last_cover_stats
/META.yml
!META.json
/MYMETA.*
*.o
*.pm.tdy
*.bs

# Devel::Cover
cover_db/

# Devel::NYTProf
nytprof.out
nytprof.out*
nytprof*/

# Dist::Zilla
/.build/

# prove
/.prove

# Module::Build
_build/
Build
Build.bat
/_build*

# Module::Install
inc/

# ExtUtils::MakeMaker
/blib/
pm_to_blib
/_eumm/
/*.gz
/Makefile
/Makefile.old
/MANIFEST.bak
/pm_to_blib
/*.zip

# Editor and file browser
.DS_Store
*~
*.bak
._*

############

/Lingua-Stem-Cistem-*




/.build
/_build_params
/Build
/Build.bat
!LICENSE
